body{
   /* cacher tout ce qui depasse du body */
   overflow: hidden;
   min-height: 100vh;
}
.bubble{
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0,0.6);
    opacity: 0;
    /* mettre une animation (keyframe) de 8s */
    animation: anim 8s forwards;
    /* changement de couleur */
    filter: hue-rotate(0deg);
}
/* Création de l'animation */
@keyframes anim {
    to{ 
        top: -250px;
        opacity: 1;
        filter: hue-rotate(720deg);
        left: var(--left);
    }
}
h3{
    font-size: 10rem;
    text-align: center;
    margin-top: 20 px;
    color: rgba(128, 128, 128, 0.743);
}